#main-page{
  .main-box{
    display: flex;
    width: 80%;
    justify-content: space-between;
    .btn-group1{

    }
    #my-canvas{
      width: 60%;
      min-width: 500px;
      height: 500px;
      border: 1px solid black;
    }
  }

}